<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
    integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"
  integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body >
    

      <%- include('header') %>
    

<div style="font-size: 3rem;text-align: center; font-weight: 900; " class="container font-monospace mt-5  mb-5 justify-content-center  align-content-center ">
  <h1>Lectures</h1>
</div>
    <div class="container d-flex  ">
      <div
      class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg ms-2 me-2 shadow dark:bg-gray-800 dark:border-gray-700 "
    >
      <a href="/learnpartofspeech">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white font-monospace "
        >
          Learn Part Of Speech
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-4005   font-monospace ">
      Part of speech is a category of words that have similar grammatical properties. In English, there are eight parts of speech: noun, verb, adjective, adverb, preposition, pronoun, conjunction, and interjection.
      </p>
      <a
        href="/learnpartofspeech"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Explore
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
    <!-- 2nd div -->
    <div
      class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg ms-3 me-3  shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <a href="/learnsentencetype">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white font-monospace "
        >
          Learn Sentence Type
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 font-monospace ">
        Each sentence is determined by the combination of independent and dependent clauses, as well as the use of conjunctions and subordinators. The type of sentence can be classified as exclamatory, interrogative, imperative, or declarative.
      </p>
      <a
        href="/learnsentencetype"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Explore
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
    <!-- 3rd -->
    <div
    class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <a href="/learnwordmeaning">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white font-monospace "
      >
        Learn Word Meaning
      </h5>
    </a>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 font-monospace ">
  <!-- write one more line -->    
  Unveiling the meaning of a new word is like uncovering a hidden gem, adding richness and depth to your vocabulary and comprehension. To truly grasp its essence, delve into its history and diverse contexts, observing its subtle nuances and applications.       
  </p>
    <a
      href="/learnwordmeaning"
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Explore
      <svg
        class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"
        />
      </svg>
    </a>
  </div>


    </div>

    
  </body>
</html>
